<fieldset>
  <legend>Edit Review</legend>
  <!-- TITLE -->
  <p>
    <label for="dream-title"> Dream Title</label><br>
    <input id="dream-title" type="text" name="title" value="{{dream.title}}"/>
  </p>

  <!-- MOVIE TITLE -->
  <p>
    <label for="dream-msg">Dream Message</label><br>
    <input id="dream-msg" type="text" name="msg" value="{{dream.msg}}" />
  </p>

  <!-- DESCRIPTION -->
  <p>
    <label for="dream-category">Dream Category</label><br>
    <textarea id="dream-category" name="category" rows="10" />{{dream.category}}</textarea>
  </p>

</fieldset>

<!-- Experience form -->
 {{> experience-form}}
