
    <fieldset>
        <legend>Add a Experience</legend>
        <input type="hidden" name="dreamId" value="{{dreamId}}">

        <!-- TITLE -->
        <div class="form-group">
            <label for="experience-mainEmotion">Main Emotion Experienced</label><br>
            <input class="form-control" id="dream-emotion" type="text" name="mainEmotion" placeholder="" />
        </div>

        <!-- DESCRIPTION -->
        <div class="form-group">
            <label for="experience-description">Experience Description</label><br>
            <textarea class="form-control" id="experience-description" name="description" rows="10" placeholder="Your experience..." /></textarea>
        </div>

        <!-- DESCRIPTION -->
        <div class="form-group">
            <label for="quantityOfDreams">Amount of Dreams That Occured</label><br>
            <input id="quantityOfDreams" name="quantityOfDreams" rows="100" placeholder="# of Dreams" type="number" /></input>
        </div>

    </fieldset>
