<h1>DREAMS</h1>
{{#each dreams}}
  <h2><a href="/dreams/{{this.id}}">{{this.title}}</a></h2>
  <small>{{this.msg}}</small>
  <button><a href="/dreams/{{this._id}}/experiences">Show Experiences</a></button>

{{/each}}
