
<form method="POST" action="/reviews">
  <fieldset>
    <legend>New Dream</legend>
    <!-- TITLE -->
    <p>
      <label for="title">Enter Dream Title</label><br>
      <input type="text" name="" />
    </p>
    <p>
      <label for="title">Enter Dream Message</label><br>
      <input type="text" name="" />
    </p>
    <p>
      <label for="title">Enter Dream Category</label><br>
      <input type="text" name="" />
    </p>
  </fieldset>

  <!-- BUTTON -->
  <p>
    <button type="submit">Save Dream</button>
  </p>

</form>
