<form method="POST" action="/dreams/{{this.dreamId}}/experiences/{{this.experience.id}}?_method=PUT">
  {{> experience-form}}
  <!-- BUTTON -->
  <p>
    <button type="submit">Edit Dream</button>
  </p>
</form>
